{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <img src="{{ c.image.url }}" height="450px" width="100%">
</div>
<div class="container-fluid mt-3" style="margin-bottom:100px;">

    <h3 class="text-center fw-bold"> {{c.name}}</h3>
    <P style="text-align:justify;line-height:2;">{{c.desc}}</P>
</div>

 <!-- templates/products/product_list.html -->
<div class="card-container d-flex flex-row flex-wrap">
  {% for i in p%}
    <div class="card mr-3 mb-3">
      <img src="{{ i.image.url }}"height="300px" width="300px" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ i.name }}</h5>
          <p class="card-text">{{ i.price }}</p>

        <a href="{% url 'shop:details' i.name %}" class="btn btn-primary">DETAILS</a>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}